/* 
    Document   : skuska
    Created on : Oct 24, 2011, 11:24:40 AM
    Author     : jou
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body {
    background-color: gray;    
}

.div_body {
    width: 220px;
    height: 350px;
    background-color: yellow;
    margin: 0 auto;
}