/***************** Login form *********************/

.login_form {
    position: relative;
    left: 0;
    clear: left;
    width: 200px;
    color: #cccccc;
    padding-top: 30px;
}

.form_element {
    margin-top:3px;
    margin-bottom:10px;
    width: 80px;
}

.form_subblock {
    margin-top:10px;
    margin-bottom:10px;
}

label {
    padding-top: 5px;
    padding-bottom: 0px;
    font-size: 12px;
}
input {
    margin-top:2px;
    width: 170px;
    -moz-border-radius: 10px;
    border: 1px solid gray;
    padding: 3px 8px;
}
input[type=submit] {
    width: 90px;
    cursor: pointer;
}

.form_button {
    margin-bottom: 15px;    
}

/************* Hlavicka Prihlaseny ******/
/*.adresa_prihlaseny_hlavicka {
    display: none;
}*/

.show_on_login {
    display: none;
}

.adresa_prihlaseny_hlavicka_text {
    display: block;
/*    clear: left;*/
    float: left;
/*    clear: left;*/
}

.adresa_prihlaseny_hlavicka_icon {
    background-image: url(images/kosik_plus20.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    float: left;
/*    clear: left;*/
/*    padding: 20px 20px;*/
    display: block;
    /*    position: absolute;
        right: 45px;
        top: 7px;
        z-index: 100;
        background-image: url(images/kosik_plus20.png);
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        display: block;*/
}