/***************** Login form *********************/

.login_form {
    position: relative;
    left: 0;
    clear: left;
    width: 200px;
    color: #cccccc;
    padding-top: 30px;
}

.form_element {
    margin-top:3px;
    margin-bottom:10px;
    width: 80px;
}

.form_subblock {
    margin-top:10px;
    margin-bottom:10px;
}

label {
    padding-top: 5px;
    padding-bottom: 0px;
    font-size: 12px;
}
input {
    margin-top:2px;
    width: 170px;
    -moz-border-radius: 10px;
    border: 1px solid gray;
    padding: 3px 8px;
}
input[type=submit] {
    width: 90px;
    cursor: pointer;
}

.form_button {
    margin-bottom: 15px;    
}

/************* Hlavicka Prihlaseny ******/
/*.adresa_prihlaseny_hlavicka {
    display: none;
}*/

.show_on_login {
    display: none;
}

