root { 
    display: block;
}
body {
    background-color: #1a1a1a;
}
.body_div {
    position: relative;
    width: 220px;
    height: 350px;
    background-color: gray;
    border: 3px solid green;
    margin: 0 auto; 
}
a:focus {
    outline: none;
}
img{
    float: right;
    margin: 3px 3px 6px 8px;
    padding: 5px;
    background: #222222;
    border: 1px solid #333333;
}
p {
    color:#cccccc;
    line-height:22px;
    padding: 0 0 10px;
    margin: 20px 0 20px 0;
}

/*--------------------------------------------*/

a.active.trigger {
    /*    background-image: url(images/minus.png);*/
    background-image: url(images/panel_close20.png);
    background-color: #222222;
}

a.trigger{
    /*    position: absolute;*/
    position: relative;
    width: 50px;
    text-decoration: none;
    top: 5px;
    font-size: 14px;
    letter-spacing:-1px;
    font-family: verdana, helvetica, arial, sans-serif;
    color:#fff;
    font-weight: 700;
    /*    background:#333333 url(images/plus.png) no-repeat;*/
    border:1px solid #444444;
    display: block;
    z-index: 95;
}
a.trigger:hover{
    background-color: #222222;
}

.panel {
    position: absolute;
    top: 0px;
    display: none;
    background: #000000;
    border:1px solid #111111;
    filter: alpha(opacity=85);
    /*    opacity: .85;*/
    margin: 0 auto;
    z-index: 90;

}
.panel p{
    margin: 0 0 15px 0;
    padding: 0;
    color: #cccccc;
}
.panel a, .panel a:visited{
    margin: 0;
    padding: 0;
    color: #9FC54E;
    text-decoration: none;
    border-bottom: 1px solid #9FC54E;
}
.panel a:hover, .panel a:visited:hover{
    margin: 0;
    padding: 0;
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
}
/*---------------------------------------------------*/

.left_panel {
    padding: 5px 5px 0px 15px;
    width: 200px;
    height: auto;
    left: 0;    
    -moz-border-radius-topright: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -webkit-border-bottom-right-radius: 20px;
}

a.left_trigger{
    left: 0;
    float: left;
    padding: 5px 30px 5px 5px;
    background:#333333 url(images/adresa20.png) no-repeat;    
    background-position: 85% 55%;    
    -moz-border-radius-topright: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;    
}
a.left_trigger:hover {
    padding-left: 15px;
}

ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ul li{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/***************************************************************************************/

.right_panel {
    padding: 5px 5px 0px 0px;
    width: 215px;
    /*    height: auto;*/
    height: 345px;
    right: 0;
    -moz-border-radius-topleft: 20px;
    -webkit-border-top-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    -webkit-border-bottom-left-radius: 20px;
}

a.right_trigger{
    right: 0;
    float: right;
    padding: 5px 5px 5px 30px;
    background:#333333 url(images/kosik20.png) no-repeat;
    background-position: 15% 55%;

    text-align: right;
    -moz-border-radius-topleft: 20px;
    -webkit-border-top-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-left-radius: 0px;   
}

a.right_trigger:hover {
    padding-right: 15px;
}

/***************** Login form *********************/

.login_form {
    position: relative;
    left: 0;
    clear: left;
    width: 200px;
    color: #cccccc;
    padding-top: 30px;
}

.form_element {
    margin-top:3px;
    margin-bottom:10px;
    width: 80px;
}

.form_subblock {
    margin-top:10px;
    margin-bottom:10px;
}

label {
    padding-top: 5px;
    padding-bottom: 0px;
    font-size: 12px;
}
input {
    margin-top:2px;
    width: 170px;
    -moz-border-radius: 10px;
    border: 1px solid gray;
    padding: 3px 8px;
}
input[type=submit] {
    width: 90px;
    cursor: pointer;
}

.form_button {
    margin-bottom: 15px;    
}
