/**************************************************/
/*******************ponuka pizz********************/
/**************************************************/

#titulka {
    position: absolute;
    left: 340px;
    top: 0px;
    color: black;
    background-color: #D7ECE8;
    border: 1px;
    width: 600px;
    height: 50px;
    border: 1px;
    border-style: solid;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;

    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
}

#kontakt {
    position: absolute;
    left: 250px;
    top: 500px;
    color: black;
    background-color: #D7ECE8;
    border: 1px;
    width: 200px;
    height: 50px;
    border: 1px;
    border-style: solid;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;

    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
}

#dovoz {
    position: absolute;
    left: 10px;
    top: 490px;
    color: black;
    background-color: #D7ECE8;
    border: 1px;
    width: 200px;
    height: 50px;
    border: 1px;
    border-style: solid;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;

    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
}

.pridavanie {
    width: 214px;
    height: 360px;
    position: absolute;
    background-color: #D7ECE8;
    top: 40px;
    left: 2px;
    font-size: 15px; 
    z-index:2;
    border: 0px;
    overflow: auto;


    -moz-user-select: none;

    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;

    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;


}

.ukonci_pridavanie {
	
	background-image: url(images/panel_close20.png);
	background-repeat: no-repeat;
   position: absolute;
   right: 0;
   top: 5px;
   z-index: 100;
   
   width: 35px;
   height: 35px;
   display: block;
   cursor: pointer;   
 
}

.pridavanie p {
    line-height: 20px; 
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    margin-top: 3px;
    margin-left: 40px;
    color: green;
    font-weight: bold;
}

.pridavanie li {
    position: relative;
    top: 1px;
    left: 1px;
    width: 190px;
    height: 15px;
    border: 0px;
    border-style: solid;
}

.pridavanie li input {
    position: absolute;
    top: 0px;
    left: 5px;
    width: 15px;
    height: 15px;
    float: left;
    cursor: pointer;
}

.pridavanie li label {
    height: 14px;
    width: 160px;
    position: absolute;
    top: -3px;
    left: 30px; 
    line-height: 15px;
    font-size: 13px;
    cursor: pointer;
}

#pridavanie_titulka {

    position: absolute;
    left: 0px;
    top: 0px;
    color: black;
    background-color: #D7ECE8;
    border: 1px;
    width: 218px;
    height: 35px;
    border: 1px;
    border-style: solid;
    z-index: 112;  
    
    -moz-user-select: none;
    
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;

    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
}

#pridavanie_titulka p {
	line-height: 20px;
	font-size: 15px;
	font-weight: bold;
	margin: 0px;
	margin-top: 5px;
	margin-left: 10px;
	padding: 0px;
	color: green;
}

#informacie_titulka {

    position: absolute;
    left: 0px;
    top: 0px;
    color: black;
    background-color: #D7ECE8;
    border: 1px;
    width: 218px;
    height: 35px;
    border: 1px;
    border-style: solid;
    z-index: 112;  
    
    -moz-user-select: none;
    
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;

    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
}

#informacie_titulka p {
	line-height: 20px;
	font-size: 15px;
	font-weight: bold;
	margin: 0px;
	margin-top: 5px;
	margin-left: 10px;
	padding: 0px;
	color: green;
}

.ukonci_informacie {
	
	background-image: url(images/panel_close20.png);
	background-repeat: no-repeat;
   position: absolute;
   right: 0;
   top: 5px;
   z-index: 100;
   
   width: 35px;
   height: 35px;
   display: block;
   cursor: pointer;   
 
}

.menu {
    width: 630px;
    height: 412px;
    position: absolute;
    top: 85px;
    left: 325px;
    overflow:  auto;
    list-style: none;
    background-repeat:  repeat;

    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;

    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
}

.menu li {
     width:600px;
    height: 100px;
    background-color: #D7ECE8;
    position: relative;
    top: 0px;
    left: 1px;
    margin-bottom: 0px;
    border: 2px;
    border-bottom: 1px;
    border-color: black;
    border-style: solid;

    -moz-border-radius-topleft: 50px;
    -webkit-border-top-left-radius: 50px;
    -moz-border-radius-bottomleft: 50px;
    -webkit-border-bottom-left-radius: 50px;

    -moz-border-radius-topright: 50px;
    -webkit-border-top-right-radius: 50px;
    -moz-border-radius-bottomright: 50px;
    -webkit-border-bottom-right-radius: 50px;
}

.menu li h3 {

    top: 0px;
    padding: 0px;
    margin: auto;
    padding-bottom: 2px;
    border: 0px;
    font-family: 'Palatino Linotype';
    font-size: 18px;
    color: green;
    font: bolder;
}



.menu li p {
    color:black;
    position: absolute;
    top: 24px;
    left: 5px;
    padding: 0px;
    margin: auto;
    line-height: 14px;
    font-size: 12px;
    font-style: normal;

}

.menu li .obr_pizze {
    position: absolute;
    top: 2px;
    left: 4px;
    width: 94px;
    height: 94px;
    background: none;
    padding: 0px;
    margin: 0px;
    border-radius: 45px;
}

.Pridat {
    position: absolute;
    right: 5px;
    bottom: 2px;
    color: black;
    background-color: #49BC22;
    border: 0px;
    font: bold;
    width: 100px;
    height: 47px;
    cursor: pointer;
    
     font-size: 17px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-bottomright: 45px;
    -webkit-border-bottom-right-radius: 45px;

    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
}

.Pridat_m {
  position: absolute;
    right: 5px;
    top: 2px;
    color: black;
    background-color: #49BC22;
    border: 0px;
    font: bold;
    width: 100px;
    height: 47px;
    font-size: 17px;
    cursor: pointer;

    -moz-border-radius-topright: 45px;
    -webkit-border-top-right-radius: 45px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;

    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;

}

#potvrdenie_o_pridani {
	height: 16px;
	width: 220px;
	background-color: black;
	color: white;
	z-index: 113;
	position: absolute;
	top: 37px;
	left: 0px;
	font-size: 12px;
	-moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;

    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
	
}

#info {
    width: 215px;
    height: 248px;
    position: absolute;
    background-color: #D7ECE8;
    top: 57px;
    left: 3px;
    font-size: 15px; 
    z-index:112;
    border: 0px;
    overflow: hidden;

    -moz-user-select: none;

    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;

    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;

}

#info h3 {
	line-height: 20px;
	color: green;
	margin-top: 0px;
	margin-bottom: 5px;
}

#info h4 {
	line-height: 20px;
	font-size: 12px;
	color: green;
	margin-top: 0px;
	margin-bottom: 2px;
}

#info h5 {
	line-height: 15px;
	font-size: 12px;
	font-weight: normal;
	color: black;
	margin-top: 0px;
	margin-bottom: 0px;
}

.pizza {
    width: 380px;
    height: 98px;
    position: absolute;
    left: 110px;
    top: 1px;
}

.kinetic-moving-up {
    border-top-color: green !important;
}
.kinetic-moving-down {
    border-bottom-color: green !important;
}
.kinetic-moving-left {
    border-left-color: green !important;
}
.kinetic-moving-right {
    border-right-color: green !important;
}
.kinetic-decelerating-up {
    border-top-color: red !important;
}
.kinetic-decelerating-down {
    border-bottom-color: red !important;
}
.kinetic-decelerating-left {
    border-left-color: red !important;
}
.kinetic-decelerating-right {
    border-right-color: red !important;
}

#pridavanie_div {
    width: 220px;
    height: 400px;
    position: absolute;
    background-color: #D7ECE8;
    top: 0px;
    right: 0px;
    font-size: 15px; 
    z-index:112;
    border: 2px;
    border-style: solid;
    overflow: hidden;

    -moz-user-select: none;

    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;

    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
}
