root { 
    display: block;
}
body {
    background-color: #1a1a1a;
}
.body_div {
    position: relative;
    width: 1280px;
    height: 570px;
    background-color: gray;
    border: 0px solid green;
    margin: 0 auto; 
}
a:focus {
    outline: none;
}
img{
    float: right;
    margin: 3px 3px 6px 8px;
    padding: 5px;
    background: #222222;
    border: 1px solid #333333;
}
p {
    color:#cccccc;
    line-height:22px;
    padding: 0 0 10px;
    margin: 20px 0 20px 0;
}

/*--------------------------------------------*/
/* ****************** Triggery panelov *****************/

a.active.trigger {
    /*    background-image: url(images/minus.png);*/
    background-image: url(images/panel_close20.png);
    background-color: #222222;
}

a.trigger{
    /*    position: absolute;*/
    position: relative;
    
/*    tymto parametrom sa da jednoducho nastavit sirka oboch triggerov*/
    width: 40px;
    text-decoration: none;
    top: 5px;
    font-size: 14px;
    letter-spacing:-1px;
    font-family: verdana, helvetica, arial, sans-serif;
    color:#fff;
    font-weight: 700;
    /*    background:#333333 url(images/plus.png) no-repeat;*/
    border:1px solid #444444;
    display: block;
    z-index: 95;
}
a.trigger:hover{
    background-color: #222222;
}
